
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: #7676d7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}


/* common css starts */
.btn{
  padding: 9px 20px;
    border-radius: 6px;
    cursor: pointer;
    border:none;
}


.seach-input{
  padding: 10px 20px;
}
.container {
  margin-left: 15px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: var(--default-margin);
  color: #7676d7;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--larger-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: #0069d9;
  box-shadow: none;
  outline: none;
  border: none;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

.loading {
  color: #6565d4;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

/* common css ends */

/* search section starts */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-section .search-input {
  min-width: 500px;
  padding: var(--default-spacing);
  margin-bottom: 15px;

}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

/* search section ends */

/* filters section starts */

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: var(--default-margin);
}

.filters > * {
  padding: 5px 10px;
  background: #0069d9;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* filters section ends */

/* images section starts */

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
  border-radius: 10px;
  transition: transform 0.5s;
}

.images .image:hover {
  transform: translateY(-3px);
}

/* images section ends */

/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }

  .images {
    grid-template-columns: 1fr;
  }
}
.wrapper_giv{
  display: inline-flex;
  background: none;
  width: 62%;
  padding: 10px 0px;
  justify-content: center;
  margin-bottom: 15px;

}

.wrapper_giv .option{
  background: #fff;
  height: 100%;
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.wrapper_giv .option #option-1:checked{
  border-color: #0069d9;
  background: #0069d9;
}

.wrapper_giv .option.selected {
  border-color: #0069d9;
  background: #0069d9;
  color: #fff; /* Optional: change text color */
}

.rest_btn{
  float: left;
  text-align: center;
  width: 100%;
}

.video.video{
  display: inline-block;
  width: 20%;
  height: 200px;
  border-radius: 12px;
  border: solid 4px #3785bd;
}

.videos{
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.rest_Signup label{
  float: left;
  width: 100%;
}

.loginrest{
  display: inline-block;
  width: 35%;
}

.labelRest{
  padding-left: 10px;
  float: left;
}
.login_image{
  width: 300px;
  height: 150px;
  object-fit: cover;
}